*{



}

body{

    margin: 20px;

    padding: 20px;

}

.container{

    width: 400px;

    height: 400px;

    display: flex;

    align-items: center;

    justify-content: center;

}

.mario{



}